@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700");

* {
  font-family: "Titillium Web", sans-serif;
  max-width: 900px;
  margin: 0 auto;
}

body {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  max-width: 500px;
}

.nasa-title {
  color: #38414b;
  margin: 20px 0 0px 0;
  font-family: "Titillium Web", sans-serif;
}
.btn {
  margin-bottom: 101px;
}
.red {
  color: red;
}
